<link rel="stylesheet" href="/assets/v3/css/web_main.min.css?resource_version=<?=$resource_version?>">
<section class="main-section">
	<h2 class="section-main-title" style="display: none;">유캔두 홈페이지</h2>
	<article class="main-article">
		<div class="main-animaions-wrapper">
			<div class="main-animations__wave"></div>
			<div class="main-animations__wave"></div>
		</div>
		<div class="inner clearfix">
			<div class="main-wrapper__col_01">
				<div class="main-w-wraaper">
					<h5 class="sub-text">오늘부터 꾸준한 하루 10분,<br> 1년 후 어떤 변화가 일어날까요?</h5>
					<h2 class="main-text">함께 성장하는<br> <strong class="point-color">목표달성 커뮤니티</strong> 유캔두</h2>
				</div>
				<div class="main-m-wraaper">
					<h5 class="sub-text">오늘부터 꾸준한 하루 10분,<br> 1년 후 어떤 변화가 일어날까요?</h5>
					<h2 class="main-text">함께 성장하는<br> <strong class="point-color">목표달성 커뮤니티</strong> 유캔두</h2>
				</div>
				<ul class="w-main-article__store-wrapper clearfix">
					<li class="google-store-btn"><a href="https://play.google.com/store/apps/details?id=com.yanadoo.youcandoo"><img src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_btn_down_google.png?resource_version=<?=$resource_version?>" alt="구글 플레이 다운로드 이동"></a></li>
					<li class="app-store-btn"><a href="https://apps.apple.com/kr/app/id1496745851"><img src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_btn_down_apple.png?resource_version=<?=$resource_version?>" alt="앱 스토어 다운로드 이동"></a></li>
				</ul>
			</div>
			<div class="main-wrapper__col_02">
				<img class="main_mockup" src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_main_phone.png?resource_version=<?=$resource_version?>" alt="메인 목업 폰 이미지">
			</div>
		</div>
	</article>
	<article class="together-article">
		<div class="inner">
			<h2 class="together-article__main-text main-text">같은 목표를 가진<br> <span class="point-color"><span class="text-bold">리더와 멤버</span></span>가 <span class="text-bold">함께</span>해요.</h2>
			<h5 class="together-article__sub-text sub-text">서로 응원하고 독려하면 끝까지 해낼 수 있어요.</h5>
			<ul class="together-article-video__wraaper w-together-article-video__wraaper clearfix">
				<li>
					<img class="together-loadimg__01" src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_together01.png?resource_version=<?=$resource_version?>" alt="이미지">
					<video class="together-video__01" poster="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_together01.png?resource_version=<?=$resource_version?>" src="#" muted playsinline loop autoplay></video>
				</li>
				<li>
					<img class="together-loadimg__02" src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_together02.png?resource_version=<?=$resource_version?>" alt="이미지">
					<video class="together-video__02" poster="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_together02.png?resource_version=<?=$resource_version?>" src="#" muted playsinline loop autoplay></video>
				</li>
			</ul>
			<ul class="together-article-video__wraaper m-together-article-video__wraaper clearfix">
				<li>
					<img class="together-loadimg__01" src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_together01.png?resource_version=<?=$resource_version?>" alt="이미지">
					<video class="together-video__01" poster="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_together01.png?resource_version=<?=$resource_version?>" src="#" muted playsinline></video>
				</li>
				<li>
					<img class="together-loadimg__02" src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_together02.png?resource_version=<?=$resource_version?>" alt="이미지">
					<video class="together-video__02" poster="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_together02.png?resource_version=<?=$resource_version?>" src="#" muted playsinline></video>
				</li>
			</ul>
		</div>
	</article>
	<article class="data-article">
		<div class="inner">
			<time datetime="2021-06">*21년 06월 기준</time>
			<h2 class="data-article__main-text main-text">지금도 <span class="point-color"><span class="text-bold" data-target="4157603">0번</span></span>의<br> 실천이 이어지고 있어요!</h2>
			<ul class="data-tab__btn-wrapper">
				<li class="active"><div class="wrap"><img src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_data_icon_1.svg?resource_version=<?=$resource_version?>" alt="아이콘"><span class="btn-title">일단 시작해요</span></div></li>
				<li><div class="wrap"><img src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_data_icon_2.svg?resource_version=<?=$resource_version?>" alt="아이콘"><span class="btn-title">매일 도전해요</span></div></li>
				<li><div class="wrap"><img src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_data_icon_3.svg?resource_version=<?=$resource_version?>" alt="아이콘"><span class="btn-title">꾸준히 달성해요</span></div></li>
			</ul>
			<ul class="data-tab__slide-wrapper clearfix">
				<li class="active"><img src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_data_slide01.png?resource_version=<?=$resource_version?>" alt="슬라이드 이미지1"></li>
				<li><img class="data-loadimg__01" src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_data_slide02.png?resource_version=<?=$resource_version?>" alt="이미지"><video class="data-video__01" src="#" muted playsinline loop></video></li>
				<li><img class="data-loadimg__02" src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_data_slide03.png?resource_version=<?=$resource_version?>" alt="이미지"><video class="data-video__02" src="#" muted playsinline loop></video></li>
			</ul>
		</div>
	</article>
	<article class="leader-article">
		<div class="inner">
			<h2 class="main-text w-main-text">
				더 나은 변화를 위해 <span class="point-color"><span class="text-bold">리더들이</span></span><br> 당신을 <span class="point-color"><span class="text-bold">기다리고</span></span> 있어요.
			</h2>
			<h2 class="main-text m-main-text">
				더 나은 변화를 위해 <span class="point-color"><span class="text-bold">리더들이</span></span><br> 당신을 <span class="point-color"><span class="text-bold">기다리고</span></span> 있어요.
			</h2>
			<img class="leader-loadimg" src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_leader_img.jpg?resource_version=<?=$resource_version?>" alt="이미지">
			<video class="leader-video" poster="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_leader_img.jpg?resource_version=<?=$resource_version?>" src="#" muted playsinline loop></video>
		</div>
	</article>
	<article class="join-article">
		<div class="inner">
			<img src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_join.gif?resource_version=<?=$resource_version?>" alt="이미지">
			<h2 class="main-text w-main-text">
				유캔두와 함께하는 <span class="point-color"><span class="text-bold">하루 10분</span></span> 성장 습관<br> 오늘부터 <span class="point-color"><span class="text-bold">같이 시작</span></span>해볼까요?
			</h2>
			<h2 class="main-text m-main-text">
				유캔두와 함께하는 <br><span class="point-color"><span class="text-bold">하루 10분</span></span> 성장 습관 오늘부터 <br><span class="point-color"><span class="text-bold">같이 시작</span></span>해볼까요?
			</h2>
			<ul class="w-join-article__store-wrapper">
				<li class="join-google-store"><a href="https://play.google.com/store/apps/details?id=com.yanadoo.youcandoo"><img src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_join_google.png?resource_version=<?=$resource_version?>" alt="구글 플레이 다운로드 이동"></a></li>
				<li class="join-app-store"><a href="https://apps.apple.com/kr/app/id1496745851"><img src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_join_apple.png?resource_version=<?=$resource_version?>" alt="앱스토 다운로드 이동"></a></li>
			</ul>
		</div>
	</article>
	<aside class="m-app-download">
		<a href="https://youcandoo.onelink.me/pWyT/ad12b5f4">앱 다운로드</a>
		<div class="app-down-animations__wave"></div>
	</aside>
</section>
<script src="/assets/v3/js/web_main.js?resource_version=<?=$resource_version?>"></script>
