<link rel="stylesheet" href="/assets/css/event-promotion.css?resource_version=<?=$resource_version?>">

<section class="event-promotion">
    <div class="main-wrapper">
        <div class="inner">
            <h2 class="a11y">프로모션 이벤트 상세페이지</h2>
            <a class="home-btn" href="/"><img src="https://service.yanadoocdn.com/youcandoo/assets/images/icon_home_white.svg?resource_version=<?=$resource_version?>" alt="아이콘"></a>
            <img src="https://service.yanadoocdn.com/youcandoo/event/promotion/event-promotion.jpg?resource_version=<?=$resource_version?>" alt="프로모션 상세이미지">
            <img class="web-img" src="https://service.yanadoocdn.com/youcandoo/event/promotion/web_app_store.jpg?resource_version=<?=$resource_version?>">
<!--            <a class="deep-linking" href="https://youcandoo.page.link/fudd" onclick="gtag('event','button',{'event_category':'promotion','event_label':'mobile_app_link_at_promotion'});  gtag('event', 'conversion', {'send_to': 'AW-824253219/wlHACO2C2OEBEKO2hIkD'});">-->
                <a class="deep-linking" href="javascript:promotionDeepLink()">지금 바로 100억 지원금 도전!</a>
        </div>
    </div>
<!--    facebook wesite page track img-->
    <img style="display: none;" height="1" width="1" src="https://www.facebook.com/tr?id=2554132361509566&ev=PageView&noscript=1"/>
<!--    Twitter WebSite Page Track img-->
    <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=o4kyu&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
    <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=o4kyu&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
</section>


<script src="/assets/js/event-promotion.js?resource_version=<?=$resource_version?>"></script>
<!--Twitter WebSite Page Track Tag-->
<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">twttr.conversion.trackPid('o4kyu', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
<!--kakao-->
<script type="text/javascript" charset="UTF-8" src="//t1.daumcdn.net/adfit/static/kp.js"></script>
<script type="text/javascript">kakaoPixel('2923358618769995351').pageView('youcandoo');</script>
