<link rel="stylesheet" href="/assets/css/event.css?resource_version=<?=$resource_version?>">
<section class="event">
    <div class="main-wrapper">
        <div class="inner">
            <h2 class="main-title">이벤트</h2>
            <ul class="tab-btn">
                <li class="active" data-tab="progress">진행중</li>
                <li data-tab="announce">결과발표</li>
                <li data-tab="end">종료</li>
            </ul>
        </div>
    </div>
    <article>
        <h4>이벤트 해당 영역 리스트</h4>
        <div class="inner">
            <ul class="tab-list clearfix">
<!--                <li>-->
<!--                    <a href="javascript:void(0)">-->
<!--                        <img src="https://service.yanadoocdn.com/youcandoo/assets/images/test.png" alt="이미지">-->
<!--                        <div class="text-wrap">-->
<!--                            <div class="title-wrap clearfix">-->
<!--                                <p class="state">[결과발표]</p>-->
<!--                                <p class="title">하루 두번 UCD 피버 타임!</p>-->
<!--                            </div>-->
<!--                            <p class="date">2020.08.26 ~ 2020.09.30</p>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="javascript:void(0)">-->
<!--                        <img src="https://service.yanadoocdn.com/youcandoo/assets/images/test.png" alt="이미지">-->
<!--                        <div class="text-wrap">-->
<!--                            <div class="title-wrap clearfix">-->
<!--                                <p class="state">[결과발표]</p>-->
<!--                                <p class="title">하루 두번 UCD 피버 타임!</p>-->
<!--                            </div>-->
<!--                            <p class="date">2020.08.26 ~ 2020.09.30</p>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
			<ul class="tab-list error-section clearfix" style="display:none;">
<!--				<div class="error error-contents">-->
<!--					<div class="wrap">-->
<!--						<img class="error-icon" src="https://service.yanadoocdn.com/youcandoo/assets/images/icon_no_contents.svg" alt="오류">-->
<!--						<h2 class="main-title">지금은 볼 수 있는 콘텐츠가 없네요.</h2>-->
<!--						<p class="main-text">다음 번에 다시 찾아주세요!</p>-->
<!--					</div>-->
<!--				</div>-->
			</ul>
			<p class="more-btn" style="display:block;"></p>
        </div>
    </article>
    <img class="top-btn" src="https://service.yanadoocdn.com/youcandoo/assets/images/i-top.png?resource_version=<?=$resource_version?>" alt="탑버튼">
</section>
<script src="/assets/js/event.js?resource_version=<?=$resource_version?>"></script>
