<link rel="stylesheet" href="https://service.yanadoocdn.com/youcandoo/assets/css/swiper.min.css">
<link rel="stylesheet" href="/assets/css/guide-common.css?resource_version=<?=$resource_version?>">

<section class="guide-page guide-doit-create">
    <div class="main-wrapper">
        <div class="inner">
            <p class="cap">유캔두 사용 가이드</p>
            <h2 class="main-title">두잇 만들기</h2>
            <p class="main-text w-main-text">유캔두가 제안하는 새로운 방법으로 원하는 목표를 이뤄보세요!</p>
            <p class="main-text w-main-text">유캔두에서는 '두잇'이라는 이름으로 다양한 목표들을 누구나 쉽고 재밌게 만들 수 있어요.</p>
            <p class="main-text m-main-text">유캔두가 제안하는 새로운 방법으로 <br>원하는 목표를 이뤄보세요!</p>
            <p class="main-text m-main-text">유캔두에서는 '두잇'이라는 이름으로 다양한 목표들을 <br>누구나 쉽고 재밌게 만들 수 있어요.</p>
        </div>
    </div>
    <article class="guide-slide">
        <div class="inner clearfix">
            <ul class="tab-btn">
                <li class="active" data-target=".tab-contents1">일반 두잇 개설방법</li>
                <li data-target=".tab-contents2">프로모션 두잇 개설방법</li>
            </ul>
            <div class="tab-contents tab-contents1 active">
                <div class="col-1">
                    <div class="swiper-container gallery-top gallery-top1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_1.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_1.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_2.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_2.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_3.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_3.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_4.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_4.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_5.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_5.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_6.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_6.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_7.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_7.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_8.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_8.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_9.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_9.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_10.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_10.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_11.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_11.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_12.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_12.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="create-doit-slide-next swiper-button-next swiper-button-white"></div>
                    <div class="create-doit-slide-prev swiper-button-prev swiper-button-white"></div>
                    <div class="create-doit-slide-pagination swiper-pagination"></div>
                    <div class="swiper-container gallery-thumbs gallery-thumbs1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <h6>1. 일반 두잇 개설하기</h6>
                                    <div class="text-wrap">
                                        <p>① 앱 > ‘개설’ > ‘만들기’ 에서 ‘내가 원하는 대로 두잇 만들기’를 선택해 주세요.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>② 두잇명, 해시태그 입력하기: ‘해시태그’는 두잇을 검색할 수 있는 키워드로도 활용돼요.</p>
                                        <p>※ 지인들만 초대하여 두잇을 만들고 싶다면, 참여코드를 설정할 수 있어요!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>③ 인증 기간, 인증 요일, 목표달성률을 원하는 대로 설정해 주세요.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>④ 최대 참여 가능한 인원수를 설정한 뒤 공약을 걸어 두잇을 만들 수 있어요.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>⑤ ‘UCD로 리워드 지급’을 선택하면 나의 UCD로 다른 사람의 목표를 지원할 수 있어요!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>⑥ 인증 시간 선택: 지정한 시간에만 인증할 수 있는 버튼이 열려요.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>⑦ 인증 방법 선택 후 예시 업로드: 사진 촬영, 영상 촬영, 음성 녹음의 3가지 방법으로 인증을 할 수 있어요.</p>
                                        <p>사진이나 영상을 선택하신 경우에는 기존에 앨범에 있는 파일을 활용할 수 있어요.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>⑧ 음성 녹음을 클릭하시면 보이는 화면에서 바로 예시를 녹음할 수 있어요.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>⑨ ‘갤러리에서 사진 불러오기 허용’을 선택하면 인증 시 갤러리에 있는 사진을 사용할 수 있어요.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>⑩ 두잇 시작일 설정: 시작일을 선택하면 종료일이 자동으로 체크돼요.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>⑪ 두잇이 다 만들어졌네요! 지금부터 사람들이 내가 만든 두잇에 참여할 수 있어요.</p>
                                        <p>참여자가 1명이라도 들어오면 두잇을 삭제할 수 없으니 내가 계획한 대로 두잇이 잘 만들어졌는지 꼼꼼히 확인해 주세요.</p>
                                        <p>두잇을 함께하고 싶다면 하단 ‘나도 참여하기’를 꼭 클릭해 주세요!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>⑫ 내가 만든 두잇에 썸네일과 소개글을 작성하면 사람들이 더 많이 들어오겠죠?</p>
                                        <p>'등록하러 가기' 를 눌러서 내가 만든 두잇을 잘 표현하는 사진과 설명글을 넣어주세요.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-contents tab-contents2">
                <div class="col-1">
                    <div class="swiper-container gallery-top gallery-top2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_13.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_13.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_14.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_14.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_15.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_15.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_16.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_16.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_17.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_17.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_18.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_18.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_19.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_19.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_20.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_20.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_21.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_21.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_22.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_22.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_23.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_23.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-create_01_24.png?resource_version=<?=$resource_version?>" alt="이미지">
                                <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-create_01_24.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="create-pro-slide-next swiper-button-next swiper-button-white"></div>
                    <div class="create-pro-slide-prev swiper-button-prev swiper-button-white"></div>
                    <div class="create-pro-slide-pagination swiper-pagination"></div>
                    <div class="swiper-container gallery-thumbs gallery-thumbs2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <h6>1. 프로모션 두잇 개설하기</h6>
                                    <div class="text-wrap">
                                        <p>① 앱 > ‘개설’ > ‘만들기’ > ‘성공지원금으로 두잇 만들기’를 클릭하면, 성공지원금을 받을 수 있는 프로모션 목록이 보여요.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>② 프로모션 목록의 배너를 눌러 내가 원하는 두잇을 만들 수 있는지 내용을 확인해 보세요.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>③ 적절한 프로모션이 있다면 하단의 ‘성공지원금으로 두잇 만들기’ 버튼을 눌러 두잇을 만들 수 있어요!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>④ 얼마나 자주, 어느 요일에 인증해야 하는지 인증 조건과 참여 인원, 그에 따른 리워드는 스폰서가 정한 옵션에서 선택할 수 있어요!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>⑤ 옵션을 이리저리 비교하며, 내가 만들고 싶은 두잇에 꼭 맞는 옵션을 선택해보세요.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>⑥ 프로모션 두잇은 옵션에 따라 최소 인원이 달라요.</p>
                                        <p>두잇 상세 페이지 속 리더(두잇을 만든 사람) 닉네임 아래에 있는 최소 인원을 확인해보세요.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>⑦ 오른쪽 상단의 ‘공유하기’ 아이콘을 눌러 친구와 함께 두잇을 해보세요!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>⑧ 앱 > ‘개설’ > ‘진행중 두잇’에 들어가서 내가 만든 두잇을 확인해 보세요.</p>
                                        <p>‘인증 관리하기’버튼을 눌러 부적절한 게시물을 올린 참여자에게 ‘옐로카드’를 보낼 수도 있어요.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>⑨ 부적절한 게시물을 선택한 후 우측 상단 ‘옐로카드 발송’을 눌러 사유를 선택해 주세요.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>⑩ 옐로카드를 받은 게시물은 ‘인증 실패’ 처리가 돼요.</p>
                                        <p>인증 가능 시간이라면 참여자는 다시 인증할 수 있지만, 인증 시간이 지나면 다시 인증할 수 없는 점 유념해 주세요.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>⑪ 참여자들의 사기를 북돋아주는 꿀팁!</p>
                                        <p>댓글을 통해 응원 메세지를 주고받으면 참여자가 끝까지 포기하지 않고 완주할 확률이 올라갈 거예요!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wrap">
                                    <div class="text-wrap">
                                        <p>⑫ 단 한 번만 하고 끝내는 것이 아쉽다면 두잇을 재개설 해보세요.</p>
                                        <p>‘개설’ > ‘종료된 두잇’에서 두잇 결과를 확인하는 페이지를 볼 수 있어요. 여기서 ‘두잇 재개설하기’ 버튼을 클릭하면 이전 두잇과 똑같은 두잇을 만들 수 있어요.</p>
                                        <p>※ 혹시 최소 인원이 모이지 않아 두잇이 시작되지 않았다면, 역시 두잇 상세 페이지 하단에서 ‘두잇 재개설하기’ 버튼으로 두잇을 다시 만들 수 있어요.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<script src="https://service.yanadoocdn.com/youcandoo/assets/js/swiper.min.js"></script>
<script src="/assets/js/guide-common.js?resource_version=<?=$resource_version?>"></script>