<link rel="stylesheet" href="https://service.yanadoocdn.com/youcandoo/assets/css/swiper.min.css">
<link rel="stylesheet" href="/assets/css/guide-common.css?resource_version=<?=$resource_version?>">

<section class="guide-page">
    <div class="main-wrapper">
        <div class="inner">
            <p class="cap">유캔두 사용 가이드</p>
            <h2 class="main-title">프로모션 참여</h2>
            <p class="main-text w-main-text">유캔두에는 나의 목표 달성을 후원하는 스폰서가 여러분을 기다리고 있어요.</p>
            <p class="main-text w-main-text">스폰서는 각각 ‘프로모션’을 열어 여러분이 두잇(Do it)할 수 있는 UCD를 성공지원금으로 제공해줘요.</p>
            <p class="main-text w-main-text">여러분의 도전을 응원하는 스폰서의 성공지원금으로 지금 바로 ‘두잇(Do it)’ 해보세요!</p>
            <p class="main-text m-main-text">유캔두에는 나의 목표 달성을 후원하는<br> 스폰서가 여러분을 기다리고 있어요.</p>
            <p class="main-text m-main-text">스폰서는 각각 ‘프로모션’을 열어 여러분이<br> 두잇(Do it)할 수 있는 UCD를 성공지원금으로 제공해줘요.</p>
            <p class="main-text m-main-text">여러분의 도전을 응원하는 스폰서의 성공지원금으로<br> 지금 바로 ‘두잇(Do it)’ 해보세요!</p>
        </div>
    </div>
    <article class="guide-slide">
        <div class="inner clearfix">
            <div class="col-1">
                <div class="swiper-container gallery-top sponsor-slide-img">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-pro-join_01_01.png?resource_version=<?=$resource_version?>" alt="이미지">
                            <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-pro-join_01_01.png?resource_version=<?=$resource_version?>" alt="이미지">
                        </div>
                        <div class="swiper-slide">
                            <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-pro-join_01_02.png?resource_version=<?=$resource_version?>" alt="이미지">
                            <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-pro-join_01_02.png?resource_version=<?=$resource_version?>" alt="이미지">
                        </div>
                        <div class="swiper-slide">
                            <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-pro-join_02_01.png?resource_version=<?=$resource_version?>" alt="이미지">
                            <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-pro-join_02_01.png?resource_version=<?=$resource_version?>" alt="이미지">
                        </div>
                        <div class="swiper-slide">
                            <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-pro-join_02_02.png?resource_version=<?=$resource_version?>" alt="이미지">
                            <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-pro-join_02_02.png?resource_version=<?=$resource_version?>" alt="이미지">
                        </div>
                        <div class="swiper-slide">
                            <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-pro-join_02_03.png?resource_version=<?=$resource_version?>" alt="이미지">
                            <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-pro-join_02_03.png?resource_version=<?=$resource_version?>" alt="이미지">
                        </div>
                        <div class="swiper-slide">
                            <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-pro-join_03_01.png?resource_version=<?=$resource_version?>" alt="이미지">
                            <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-pro-join_03_01.png?resource_version=<?=$resource_version?>" alt="이미지">
                        </div>
                        <div class="swiper-slide">
                            <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-pro-join_03_02.png?resource_version=<?=$resource_version?>" alt="이미지">
                            <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-pro-join_03_02.png?resource_version=<?=$resource_version?>" alt="이미지">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="sponsor-slide-next swiper-button-next swiper-button-white"></div>
                <div class="sponsor-slide-prev swiper-button-prev swiper-button-white"></div>
                <div class="sponsor-slide-pagination swiper-pagination"></div>
                <div class="swiper-container gallery-thumbs sponsor-slide-text">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="wrap">
                                <h6>1. 진행 중인 프로모션을 확인해 보세요</h6>
                                <div class="text-wrap">
                                    <p>① 지금 유캔두에서 진행 중인 프로모션을 홈 화면 상단 배너에서 확인해 보세요.</p>
                                    <p>배너 오른쪽 하단에 있는 숫자 버튼을 클릭하면 진행 중인 프로모션과 종료된 프로모션까지 한눈에 리스트로 볼 수 있답니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wrap">
                                <div class="text-wrap">
                                    <p>② 스폰서가 내거는 프로모션마다 만들 수 있는 두잇이 달라요!</p>
                                    <p>마음에 드는 프로모션 배너를 클릭한 후 스폰서가 어떤 취지로 프로모션을 열었는지, 어떤 두잇의 개설과 참여를 후원하는지 확인해보세요.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wrap">
                                <h6>2. 프로모션 두잇을 만들어 보세요</h6>
                                <div class="text-wrap">
                                    <p>① 스폰서의 프로모션 취지에 공감한다면, 가장 먼저 프로모션 두잇을 만들어 동참할 수 있어요. 프로모션 두잇의 특징은 나의 UCD를 걸지 않아도 스폰서의 성공지원금으로 UCD 리워드가 있는 두잇을 만들 수 있다는 것이랍니다.</p>
                                    <P>프로모션 소개 페이지 상단의 ‘지금 남은 성공 지원금’ 만큼 두잇을 만들 수 있어요! 인기가 많은 프로모션의 경우 성공지원금이 금방 소진되어 조기 마감 할 수 있는 점 유의해 주세요.</P>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wrap">
                                <div class="text-wrap">
                                    <p>② 프로모션 두잇을 만들고 싶다면 소개 페이지 하단의 ‘성공지원금으로 두잇 만들기’ 버튼을 눌러 주세요! 내가 원하는 대로 만들 수 있는 일반 두잇과 달리 스폰서가 내건 조건 아래에서 두잇을 만들 수 있어요.</p>
                                    <p>조건과 리워드를 ‘옵션’으로 스폰서가 제공해 주기 때문에 더 손쉽게 만들 수 있는 것도 프로모션 두잇의 장점이에요.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wrap">
                                <div class="text-wrap">
                                    <p>③ 잠깐! 프로모션 두잇의 옵션을 선택할 때에 최소 인원을 주목해 주세요.</p>
                                    <p>프로모션 두잇은 옵션에서 지정하는 최소 인원만큼 참여자가 모이지 않으면 두잇이 시작되지 않아요.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wrap">
                                <h6>3. 프로모션 두잇에 참여해보세요.</h6>
                                <div class="text-wrap">
                                    <p>① 직접 두잇을 만들어 리더가 되기보다는 ‘인증’으로 동참하고 싶은 분들도 많이 계시죠? 스폰서의 프로모션에 취지에 맞춰 함께 행동하고 싶은 분들은 프로모션 두잇에 참여해보세요!</p>
                                    <p>소개 페이지 상단의 2번째 탭 ‘두잇’을 클릭하면 프로모션을 통해 만들어진 두잇들을 확인할 수 있어요. 내가 참여하고 싶은 두잇의 모집이 마감되었거나 만들어지지 않았다면 직접 두잇을 개설할 수도 있겠죠?</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wrap">
                                <div class="text-wrap">
                                    <p>② 잠깐! 프로모션마다 동시에 참여할 수 있는 두잇 수가 제한되어 있어요. ‘동시’ 참여에 대한 제한이기 때문에 두잇 기간이 겹치지 않는다면 얼마든지 신청할 수 있지만, 기간이 겹치면 두잇 신청이 제한될 수 있어요.</p>
                                    <p>프로모션 소개 페이지 하단의 유의사항 영역에서 동시에 참여할 수 있는 두잇 수를 살펴보세요. 각각 두잇 소개 페이지로 들어가면 썸네일 아래에 어떤 프로모션으로 만들어진 두잇인지 확인할 수 있어요!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<script src="https://service.yanadoocdn.com/youcandoo/assets/js/swiper.min.js"></script>
<script src="/assets/js/guide-common.js?resource_version=<?=$resource_version?>"></script>