<link rel="stylesheet" href="https://service.yanadoocdn.com/youcandoo/assets/css/swiper.min.css">
<link rel="stylesheet" href="/assets/css/guide-common.css?resource_version=<?=$resource_version?>">

<section class="guide-page">
    <div class="main-wrapper">
        <div class="inner">
            <p class="cap">유캔두 사용 가이드</p>
            <h2 class="main-title">UCD 적립 및 상품교환</h2>
            <p class="main-text w-main-text">유캔두에서는 두잇 목표를 달성할 때마다 ‘UCD’라는 마일리지가 쌓여요! </p>
            <p class="main-text w-main-text">UCD는 어떻게 적립하는지, 모아서 무엇을 할 수 있는지 살펴볼까요?</p>
            <p class="main-text m-main-text">유캔두에서는 두잇 목표를 달성할 때마다<br> ‘UCD’라는 마일리지가 쌓여요!</p>
            <p class="main-text m-main-text">UCD는 어떻게 적립하는지, <br>모아서 무엇을 할 수 있는지 살펴볼까요?</p>
        </div>
    </div>
    <article class="guide-slide">
        <div class="inner clearfix">
            <div class="col-1">
                <div class="swiper-container gallery-top ucd-slide-img">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-ucd_01_01.png?resource_version=<?=$resource_version?>" alt="이미지">
                            <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-ucd_01_01.png?resource_version=<?=$resource_version?>" alt="이미지">
                        </div>
                        <div class="swiper-slide">
                            <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-ucd_01_02.png?resource_version=<?=$resource_version?>" alt="이미지">
                            <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-ucd_01_02.png?resource_version=<?=$resource_version?>" alt="이미지">
                        </div>
                        <div class="swiper-slide">
                            <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-ucd_01_03.png?resource_version=<?=$resource_version?>" alt="이미지">
                            <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-ucd_01_03.png?resource_version=<?=$resource_version?>" alt="이미지">
                        </div>
                        <div class="swiper-slide">
                            <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-ucd_02.png?resource_version=<?=$resource_version?>" alt="이미지">
                            <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-ucd_02.png?resource_version=<?=$resource_version?>" alt="이미지">
                        </div>
                        <div class="swiper-slide">
                            <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-ucd_03.png?resource_version=<?=$resource_version?>" alt="이미지">
                            <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-ucd_03.png?resource_version=<?=$resource_version?>" alt="이미지">
                        </div>
                        <div class="swiper-slide">
                            <img class="w-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/guide-ucd_04_01.png?resource_version=<?=$resource_version?>" alt="이미지">
                            <img class="m-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/m-guide-ucd_04_01.png?resource_version=<?=$resource_version?>" alt="이미지">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="ucd-slide-next swiper-button-next swiper-button-white"></div>
                <div class="ucd-slide-prev swiper-button-prev swiper-button-white"></div>
                <div class="ucd-slide-pagination swiper-pagination"></div>
                <div class="swiper-container gallery-thumbs ucd-slide-text">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="wrap">
                                <h6>1. UCD를 적립해보세요</h6>
                                <div class="text-wrap">
                                    <p>① UCD는 두잇 목표를 달성할 때마다 UCD를 적립 받을 수 있어요! 두잇마다 UCD 리워드를 받기 위한 목표 달성률이나 UCD 금액이 다르니 상세 정보에서 꼭 확인해 주세요.</p>
                                    <p>UCD 리워드가 없는 두잇은 두잇 목표를 달성해도 UCD가 적립되지 않아요.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wrap">
                                <div class="text-wrap">
                                    <p>② UCD는 두잇 목표를 달성한 후, 리뷰를 작성해야 최종적으로 적립돼요!</p>
                                    <p>두잇 결과 발표일로부터 14일까지 UCD를 적립할 수 있으니, 꼭 그 전까지 결과를 확인해서 UCD를 적립해 주세요.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wrap">
                                <div class="text-wrap">
                                    <p>③ 앱 > ’인증’ > 종료된 두잇에서 ‘리뷰 작성하고 결과 보기’를 클릭, 리뷰를 작성하고 결과를 확인하면 UCD가 적립돼요. 단, 나의 달성률이 50% 미만일 경우 다같이 목표 달성을 하더라도 UCD를 받을 수 없어요.</p>
                                    <p>조건에 맞지 않은 인증 게시물은 ‘옐로카드’를 받아 인증 실패 처리가 될 수도 있으니 ‘인증 방법’은 반드시 확인해 주세요.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wrap">
                                <h6>2. UCD 적립/사용내역을 확인해보아요</h6>
                                <div class="text-wrap">
                                    <p>앱 > ‘나’ 메뉴 > 보유 UCD 옆 ‘화살표(>)’ 버튼을 클릭하면 최근 6개월까지 UCD 적립/사용 내역을 확인할 수 있어요.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wrap">
                                <h6>3. UCD로 두잇을 만들 수 있어요</h6>
                                <div class="text-wrap">
                                    <p>나의 UCD를 리워드로 걸고 두잇을 만들 수 있어요! 내가 모은 UCD로 내가 응원하는 친구를 응원하는 두잇을 만들어보는 건 어떨까요?</p>
                                    <p>두잇 만드는 방법을 아직 모르신다면 <a class="link-page" href="/guide/create">여기</a>를 클릭해주세요.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wrap">
                                <h6>4. UCD로 상품을 교환할 수 있어요</h6>
                                <div class="text-wrap">
                                    <p>UCD 마일리지를 모아 커피나 모바일상품권 등으로 교환할 수도 있어요!</p>
                                    <p>앱 > '나' 메뉴 > 나의 UCD 옆 '화살표(>)' 버튼 클릭 > 우측 상단 '상품 교환'에서 UCD를 원하는 기프티콘으로 교환해보세요!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<script src="https://service.yanadoocdn.com/youcandoo/assets/js/swiper.min.js"></script>
<script src="/assets/js/guide-common.js?resource_version=<?=$resource_version?>"></script>
