<link rel="stylesheet" href="https://service.yanadoocdn.com/youcandoo/assets/css/swiper.min.css">
<link rel="stylesheet" href="/assets/css/main.css?resource_version=<?=$resource_version?>">

<section class="main">
    <div class="main-wrapper">
        <div class="inner clearfix">
            <div class="col-1">
                <div class="text-wrap">
                    <h2 class="main-title">야나두가 만든<br>목표달성앱 유캔두</h2>
                    <p class="main-text">왜 마음 먹은대로 잘 안될까요?<br>
                        우리는 왜 나와의 싸움에서 매번 질까요?<br>
                        간단한 것만 하면 되는 것도 왜 못 하는걸까요?<br>
                        <br>
                        목표를 달성할 수밖에 없는 새로운 방법,<br>
                        유캔두와 함께라면 나두 할 수 있어요!
                    </p>
                </div>
                <div class="btn-wrap">
                    <a href="https://play.google.com/store/apps/details?id=com.yanadoo.youcandoo" onclick="gtag('event','button',{'event_category':'main','event_label':'pc_google_store'});">
                        <div class="wrap">
                            <img src="https://service.yanadoocdn.com/youcandoo/assets/images/logo_googleplay.svg?resource_version=<?=$resource_version?>" alt="구글 플레이 바로가기">
                            <span>Google Play</span>
                        </div>
                    </a>
                    <a href="https://apps.apple.com/kr/app/id1496745851" onclick="gtag('event','button',{'event_category':'main','event_label':'pc_ios_store'});">
                        <div class="wrap">
                            <img src="https://service.yanadoocdn.com/youcandoo/assets/images/logo_apple.svg?resource_version=<?=$resource_version?>" alt="앱스토어 바로가기">
                            <span>App Store</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2">
                <img class="main-back" src="https://service.yanadoocdn.com/youcandoo/assets/images/main_img.svg?resource_version=<?=$resource_version?>" alt="이미지">
            </div>
         </div>
        <a class="mobile-app-down" href="https://youcandoo.onelink.me/74SB/download" onclick="gtag('event','button',{'event_category':'main','event_label':'mobile_app_link_at_main'});">
            유캔두 앱 다운받기
        </a>
    </div>
    <article class="best-doit">
        <div class="inner">
            <div class="text-wrap">
                <h2 class="main-title w-text">지금 유캔두에서 <span class="border-line">가장 핫한 두잇</span></h2>
                <p class="main-text w-text">실시간 유캔두 미리보기! 우리 함께 하지 않을래요?</p>
                <h2 class="main-title m-text">지금 유캔두에서 <br><span class="border-line">가장 핫한 두잇</span></h2>
                <p class="main-text m-text">실시간 유캔두 미리보기! <br>우리 함께 하지 않을래요?</p>
            </div>
            <a class="link-btn" href="https://youcandoo.onelink.me/74SB/learnmore" onclick="gtag('event','button',{'event_category':'main','event_label':'mobile_app_link_hotdoit_at_main'});"><div class="wrap"><span>앱에서 확인하기</span><img src="https://service.yanadoocdn.com/youcandoo/assets/images/icon_more_blue.svg?resource_version=<?=$resource_version?>" alt="아이콘"></div></a>
            <div class="slide-wrap">
                <div class="swiper-container best-doit-slide">
                    <div class="swiper-wrapper" id="doit-list">
<!--                        <div class="swiper-slide">-->
<!--                            <div class="wrap">-->
<!--                                <div class="img-wrap">-->
<!--                                    <img src="https://service.yanadoocdn.com/youcandoo/assets/images/test.png" alt="테스트">-->
<!--                                </div>-->
<!--                                <div class="text-wrap">-->
<!--                                    <p class="tag"># 영단어+영어한문장</p>-->
<!--                                    <p class="title">매일 감사한 점 1가지 적지</p>-->
<!--                                    <p class="user"><img class="icon" src="https://service.yanadoocdn.com/youcandoo/assets/images/user-icon.png" alt="아이콘"><span class="data">199</span>명 참여</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <div class="wrap">-->
<!--                                <div class="img-wrap">-->
<!--                                    <img src="https://service.yanadoocdn.com/youcandoo/assets/images/test.png" alt="테스트">-->
<!--                                </div>-->
<!--                                <div class="text-wrap">-->
<!--                                    <p class="tag"># 영단어+영어한문장</p>-->
<!--                                    <p class="title">매일 감사한 점 1가지 적지</p>-->
<!--                                    <p class="user"><img class="icon" src="https://service.yanadoocdn.com/youcandoo/assets/images/user-icon.png" alt="아이콘"><span class="data">199</span>명 참여</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <div class="wrap">-->
<!--                                <div class="img-wrap">-->
<!--                                    <img src="https://service.yanadoocdn.com/youcandoo/assets/images/test.png" alt="테스트">-->
<!--                                </div>-->
<!--                                <div class="text-wrap">-->
<!--                                    <p class="tag"># 영단어+영어한문장</p>-->
<!--                                    <p class="title">매일 감사한 점 1가지 적지</p>-->
<!--                                    <p class="user"><img class="icon" src="https://service.yanadoocdn.com/youcandoo/assets/images/user-icon.png" alt="아이콘"><span class="data">199</span>명 참여</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <div class="wrap">-->
<!--                                <div class="img-wrap">-->
<!--                                    <img src="https://service.yanadoocdn.com/youcandoo/assets/images/test.png" alt="테스트">-->
<!--                                </div>-->
<!--                                <div class="text-wrap">-->
<!--                                    <p class="tag"># 영단어+영어한문장</p>-->
<!--                                    <p class="title">매일 감사한 점 1가지 적지</p>-->
<!--                                    <p class="user"><img class="icon" src="https://service.yanadoocdn.com/youcandoo/assets/images/user-icon.png" alt="아이콘"><span class="data">199</span>명 참여</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <div class="wrap">-->
<!--                                <div class="img-wrap">-->
<!--                                    <img src="https://service.yanadoocdn.com/youcandoo/assets/images/test.png" alt="테스트">-->
<!--                                </div>-->
<!--                                <div class="text-wrap">-->
<!--                                    <p class="tag"># 영단어+영어한문장</p>-->
<!--                                    <p class="title">매일 감사한 점 1가지 적지</p>-->
<!--                                    <p class="user"><img class="icon" src="https://service.yanadoocdn.com/youcandoo/assets/images/user-icon.png" alt="아이콘"><span class="data">199</span>명 참여</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <div class="wrap">-->
<!--                                <div class="img-wrap">-->
<!--                                    <img src="https://service.yanadoocdn.com/youcandoo/assets/images/test.png" alt="테스트">-->
<!--                                </div>-->
<!--                                <div class="text-wrap">-->
<!--                                    <p class="tag"># 영단어+영어한문장</p>-->
<!--                                    <p class="title">매일 감사한 점 1가지 적지</p>-->
<!--                                    <p class="user"><img class="icon" src="https://service.yanadoocdn.com/youcandoo/assets/images/user-icon.png" alt="아이콘"><span class="data">199</span>명 참여</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </article>

    <article class="guide-doit-row">
        <div class="inner clearfix">
            <div class="col-1">
                <div class="text-wrap">
                    <h2 class="main-title">목표 달성의 새로운 방법 <br><span class="border-line">두잇(Do it)</span></h2>
                    <p class="main-text">인증하면 보상을 주는 ‘두잇’으로<br> 인생을 바꾸는 사소한 습관을 만들어봐요.</p>
                </div>
                <a class="link-btn" href="/guide/doit" onclick="gtag('event','link',{'event_category':'main','event_label':'doit_join_guide'});"><div class="wrap"><span>두잇참여 가이드</span><img src="https://service.yanadoocdn.com/youcandoo/assets/images/icon_more_blue.svg?resource_version=<?=$resource_version?>" alt="아이콘"></div></a>
            </div>
            <div class="col-2 slide-mockup">
                <img class="pattern-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/doit_pattern.svg?resource_version=<?=$resource_version?>" alt="배경이미지">
                <img class="el-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/doit_img.svg?resource_version=<?=$resource_version?>" alt="요소 이미지">
                <div class="slide-wrap">
                    <img class="iframe" src="https://service.yanadoocdn.com/youcandoo/assets/images/phone_img.png?resource_version=<?=$resource_version?>" alt="이미지">
                    <div class="swiper-container guide-doit-main-slide">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="https://service.yanadoocdn.com/youcandoo/assets/images/main-guide-doit_01.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://service.yanadoocdn.com/youcandoo/assets/images/main-guide-doit_02.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://service.yanadoocdn.com/youcandoo/assets/images/main-guide-doit_03.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="guide-promotion">
        <div class="inner clearfix">
            <div class="col-1">
                <div class="text-wrap">
                    <h2 class="main-title">우리의 도전을 응원하는<br> <span class="border-line">성공지원금</span></h2>
                    <p class="main-text">망설일 시간에 일단 도전해볼 수 있도록<br> 스폰서가 성공지원금을 후원해요.</p>
                </div>
                <a class="link-btn" href="/guide/join" onclick="gtag('event','link',{'event_category':'main','event_label':'promotion_guide'});"><div class="wrap"><span>스폰서의 프로모션 가이드</span><img src="https://service.yanadoocdn.com/youcandoo/assets/images/icon_more_black.svg?resource_version=<?=$resource_version?>" alt="아이콘"></div></a>
            </div>
            <div class="col-2 slide-mockup">
                <img class="pattern-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/success_pattern.svg?resource_version=<?=$resource_version?>" alt="배경이미지">
                <img class="el-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/success_img.svg?resource_version=<?=$resource_version?>" alt="요소 이미지">
                <div class="slide-wrap">
                    <img class="iframe" src="https://service.yanadoocdn.com/youcandoo/assets/images/phone_img.png?resource_version=<?=$resource_version?>" alt="이미지">
                    <div class="swiper-container guide-promotion-main-slide">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="https://service.yanadoocdn.com/youcandoo/assets/images/main-guide-pro-join_01.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://service.yanadoocdn.com/youcandoo/assets/images/main-guide-pro-join_02.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="guide-create-row">
        <div class="inner clearfix">
            <div class="col-1">
                <div class="text-wrap">
                    <h2 class="main-title">누구나 쉽고 간편하게 <br><span class="border-line">두잇 개설</span></h2>
                    <p class="main-text">누구나 내가 원하는대로 두잇을 만들고<br> 참여자들의 성공을 이끄는 리더가 될 수 있어요.</p>
                </div>
                <a class="link-btn" href="/guide/create" onclick="gtag('event','link',{'event_category':'main','event_label':'doit_create_guide'});"><div class="wrap"><span>두잇 개설 가이드</span><img src="https://service.yanadoocdn.com/youcandoo/assets/images/icon_more_blue.svg?resource_version=<?=$resource_version?>" alt="아이콘"></div></a>
            </div>
            <div class="col-2 slide-mockup">
                <img class="pattern-img" src="https://service.yanadoocdn.com/youcandoo/assets/images/platform_pattern.svg?resource_version=<?=$resource_version?>" alt="배경이미지">
                <img class="el-img el-img-1" src="https://service.yanadoocdn.com/youcandoo/assets/images/platform_imge1.svg?resource_version=<?=$resource_version?>" alt="요소 이미지">
                <img class="el-img el-img-2" src="https://service.yanadoocdn.com/youcandoo/assets/images/platform_imge2.svg?resource_version=<?=$resource_version?>" alt="요소 이미지">
                <div class="slide-wrap">
                    <img class="iframe" src="https://service.yanadoocdn.com/youcandoo/assets/images/phone_img.png?resource_version=<?=$resource_version?>" alt="이미지">
                    <div class="swiper-container guide-create-main-slide">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="https://service.yanadoocdn.com/youcandoo/assets/images/main-guide-create_01.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://service.yanadoocdn.com/youcandoo/assets/images/main-guide-create_02.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://service.yanadoocdn.com/youcandoo/assets/images/main-guide-create_03.png?resource_version=<?=$resource_version?>" alt="이미지">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>


    <article class="guide-exchange">
        <div class="inner clearfix">
            <div class="col-1">
                <div class="text-wrap">
                    <h2 class="main-title">쌓을수록 커지는 성취감<br><span class="border-line">UCD 마일리지</span></h2>
                    <p class="main-text">두잇 목표를 달성할 때마다 리워드가 쌓이니까<br> UCD가 모일수록 성취감도 커져요!</p>
                </div>
                <a class="link-btn" href="/guide/ucd" onclick="gtag('event','link',{'event_category':'main','event_label':'ucd_guide'});"><div class="wrap"><span>UCD 적립/교환 가이드</span><img src="https://service.yanadoocdn.com/youcandoo/assets/images/icon_more_black.svg?resource_version=<?=$resource_version?>" alt="아이콘"></div></a>
            </div>
        </div>
    </article>
</section>
<script src="https://service.yanadoocdn.com/youcandoo/assets/js/swiper.min.js"></script>
<script src="/assets/js/main.js?resource_version=<?=$resource_version?>"></script>
