<link rel="stylesheet" href="/assets/css/notice.css?resource_version=<?=$resource_version?>">
<section class="notice">
    <div class="main-wrapper">
        <div class="inner">
            <h2 class="main-title">공지사항</h2>
        </div>
    </div>
    <article>
        <h4>공지사항 리스트</h4>
        <div class="inner">
            <table>
                <tbody id="notice-list">
<!--                                    <tr>-->
<!--                                        <td class="title"><img class="speaker-icon" src="https://service.yanadoocdn.com/youcandoo/assets/images/i-speaker.png" alt="공지">친구초대 이벤트 조기 종료 안내</td>-->
<!--                                        <td class="date">2020. 07. 15</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td class="title">친구초대 이벤트 조기 종료 안내</td>-->
<!--                                        <td class="date">2020. 07. 15</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td class="title">친구초대 이벤트 조기 종료 안내</td>-->
<!--                                        <td class="date">2020. 07. 15</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td class="title">친구초대 이벤트 조기 종료 안내</td>-->
<!--                                        <td class="date">2020. 07. 15</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td class="title">친구초대 이벤트 조기 종료 안내</td>-->
<!--                                        <td class="date">2020. 07. 15</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td class="title">친구초대 이벤트 조기 종료 안내</td>-->
<!--                                        <td class="date">2020. 07. 15</td>-->
<!--                                    </tr>-->
                </tbody>
            </table>
            <div class="error error-contents" style="display: none;">
                <div class="wrap">
                    <img class="error-icon" src="https://service.yanadoocdn.com/youcandoo/assets/images/icon_no_contents.svg?resource_version=<?=$resource_version?>" alt="오류">
                    <h2 class="main-title">지금은 볼 수 있는 콘텐츠가 없네요.</h2>
                    <p class="main-text">다음 번에 다시 찾아주세요!</p>
                </div>
            </div>
            <ul class="table-pagination clearfix">
<!--                <li><img src="https://service.yanadoocdn.com/youcandoo/assets/images/i-arrow.png" alt="왼쪽으로 페이지 이동"></li>-->
<!--                <li class="active">1</li>-->
<!--                <li>2</li>-->
<!--                <li>3</li>-->
<!--                <li><img src="https://service.yanadoocdn.com/youcandoo/assets/images/i-arrow.png" alt="오른쪽으로 페이지 이동"></li>-->
            </ul>
        </div>
    </article>
</section>
<script src="/assets/js/notice.js?resource_version=<?=$resource_version?>"></script>