<link rel="stylesheet" href="/assets/css/common-detail.css?resource_version=<?=$resource_version?>">

<input type="hidden" id="notice-index" value="<?php echo (isset($index))?$index:''; ?>"/>
<section class="event-detail detail-pg">
    <div class="main-wrapper">
        <div class="inner">
            <h2 class="main-title"></h2>
            <div class="date"></div>
        </div>
    </div>
    <!--  이미지 들어가는 영역  -->
    <article class="detail-img">
<!--        <div class="inner">-->
<!--            <h3>이미지영역</h3>-->
<!--            <img src="https://service.yanadoocdn.com/youcandoo/assets/images/test.png" alt="이미지">-->
<!--        </div>-->
    </article>
    <!--  본문내용 들어가는 영역  -->
    <article class="detail-text">
<!--        <h3>본문내용</h3>-->
<!--        <div class="inner">-->
<!--            <p>-->
<!--                NH투자증권 주식계좌를 카카오뱅크에서 간편하게 개설하세요.-->
<!--                개설완료 즉시, ‘5천원 축하금’을 드립니다.-->
<!--            </p>-->
<!--            <p>-->
<!--                ■ 기간 : 2020.07.01 - 07.31-->
<!--                ■ 내용 : 기간 내 카카오뱅크에서 NH투자증권 나무 주식계좌를 개설한 고객에게 아래의 혜택 제공-->
<!--                ■ 혜택 : 축하금 5천원-->
<!--                - 개설완료 즉시 카카오뱅크 입출금통장에 5천원 지급-->
<!--                - NH투자증권 나무 주식계좌 최초 개설고객에 한함-->
<!--                (주민등록번호 기준)-->
<!--            </p>-->
<!--            <p>-->
<!--                이 외 다양한 혜택은 [자세히 보기]를 통해 확인하세요!-->
<!--            </p>-->
<!--        </div>-->
    </article>
    <!--  리스트 돌아가기  -->
    <article>
        <div class="inner">
            <h3>리스트 돌아가기</h3>
            <a class="back-btn" href="/notice"><div class="wrap"><img class="back-white" src="https://service.yanadoocdn.com/youcandoo/assets/images/icon_all_white.svg?resource_version=<?=$resource_version?>" alt="목록으로 돌아가기"><img class="back-color" src="https://service.yanadoocdn.com/youcandoo/assets/images/icon_all_blue.svg?resource_version=<?=$resource_version?>" alt="목록으로 돌아가기"><span>목록보기</span></div></a>
        </div>
    </article>
</section>
<script src="/assets/js/noticeDetail.js?resource_version=<?=$resource_version?>"></script>
