<footer class="<?=$type?>">
	<div class="inner">
		<div class="footer-wrapper clearfix">
			<div class="footer-wrapper__col-1">
				<ul class="w-footer__term-wrapper clearfix">
					<li><a href="/web/v3.0/terms/latest">이용약관</a></li>
					<li><a href="/web/v3.0/privacy/latest">개인정보처리방침</a></li>
					<li><a href="mailto:help@youcandoo.co.kr">contact us</a></li>
				</ul>
				<p class="w-footer__company">주식회사 야나두</p>
				<p class="w-footer__businessNumber">사업자등록번호 | 129-86-23477</p>
				<address  class="w-footer__address">서울시 강남구 영동대로 96길 26, 3층(삼성동, Place 1)</address>
				<small class="w-footer__copy">Copyright © Yanadoo. All rights reserved.</small>
			</div>
			<div class="footer-wrapper__col-2">
				<ul class="w-footer__sns-wrapper clearfix">
					<li><a target="_self" href="https://www.instagram.com/youcandoo.official/"><img src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_icon_instagram.svg?resource_version=<?=$resource_version?>" alt="인스타 바로가기"></a></li>
					<li><a target="_self" href="https://www.facebook.com/youcandoo.official/"><img src="https://youcandoo.yanadoocdn.com/v3/web/assets/images/web_btn_face_book.svg?resource_version=<?=$resource_version?>" alt="페이스북 바로가기"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<script src="/assets/v3/js/web_common.min.js?resource_version=<?=$resource_version?>"></script>
</body>
</html>
