@charset "UTF-8";
/* detail common */
.detail-pg h3 {
    display: none;
}
.detail-pg .main-wrapper .inner {
    padding-bottom: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(113, 113, 113, 0.18);
}
.detail-pg .main-wrapper .date {
    color: #717171;
    margin-bottom: 2vh;
}
.detail-pg .main-wrapper .main-title {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 2vh;
}
.detail-pg article{
    padding: 0;
}
.detail-img img {
    width: 100%;
    height: auto;
}
.detail-img {
    margin-bottom: 40px;
}
.detail-text {
    margin-bottom: 40px;
}
.detail-text p {
    margin-bottom: 2%;
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: left;
    font-family: 'AppleSDGothicNeoL','sans-serif';
}
.detail-text p:last-child,
.detail-notice ul li:last-child{
    margin-bottom: 0;
}
.detail-notice .inner {
    color: #717171;
    padding: 40px;
    font-size: 16px;
    text-align: left;
    background-color: rgba(78,89,104,.07);
}
.detail-notice .title {
    margin-bottom: 14px;
    font-family: 'AppleSDGothicNeoB','sans-serif';
}
.detail-notice ul li {
    line-height: 1.4;
    margin-bottom: 5px;
}
.detail-appBtn .app-btn {
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 1.3rem;
    color: #ffffff;
    border-radius: 0 0 10px 10px;
    background-color: rgb(71, 105, 247);
    font-family: 'AppleSDGothicNeoB','sans-serif';
}
/* mobile device */
@media only screen and (max-width:600px) {
    .detail-notice .inner {padding: 20px;}
    .detail-img {margin-bottom: 20px;}
    .detail-text {margin-bottom: 20px;}
    .detail-notice .inner {font-size: 13px;}
    .detail-appBtn .app-btn {height: 40px; line-height: 40px;}
}