<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:type" content="유캔두">
    <meta property="og:title" content="야나두가 만든 목표달성앱 유캔두">
    <meta property="og:url" content="https://www.youcandoo.co.kr/">
    <meta property="og:description" content="마음 먹은대로 이뤄지는 목표 달성의 새로운 패러다임. 유캔두와 함께라면 나두 할 수 있어요.">
    <meta property="og:image" content="https://service.yanadoocdn.com/youcandoo/assets/images/thumbnail.jpg">
    <meta name="naver-site-verification" content="5cd73ba0e794ce2e3a0fde79f8fa3a886dcc8f20" />
    <title>유캔두</title>
	<script>
		const api_server_url = "<?php echo $this->config->item('api_server_url');?>";
	</script>
    <link rel="shortcut icon" href="https://service.yanadoocdn.com/youcandoo/assets/images/favicon.ico">
	<script src="https://service.yanadoocdn.com/youcandoo/assets/js/jquery-3.5.1.min.js"></script>
	<?php if(isset($type)) : ?>
	<!-- 이용약관,개인정보처리방침 전용 -->
    <link rel="stylesheet" href="/assets/css/reset.css?resource_version=<?=$resource_version?>">
    <link rel="stylesheet" href="/assets/css/common.css?resource_version=<?=$resource_version?>">
	<?php else:?>
	<!-- 웹뷰 공지사항,이벤트,FAQ,상품권교환 등 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
	<link rel="stylesheet" href="/assets/css/webview-common.css?resource_version=<?=$resource_version?>">
	<script src="/assets/js/webview/webview-utils.js?resource_version=<?=$resource_version?>"></script>
	<?php endif;?>
    <style>
        .main-wrapper { padding-top: 20px !important;}
        .main-wrapper .inner {padding-top: 0px !important;}
    </style>
</head>
<body>

