<footer>
    <div class="policy-wrap">
        <ul class="policy-list">
            <li><a href="/policy/website/terms/latest">이용약관</a></li>
<!--            <li><a href="javascript:void(0)">유료서비스이용약관</a></li>-->
            <li><a href="/policy/website/privacy/latest"><strong>개인정보처리방침</strong></a></li>
            <li><a href="/notice">공지사항</a></li>
        </ul>
    </div>
    <div class="inner">
        <address>
            <strong>주식회사 야나두</strong>
            <p class="address">서울시 강남구 영동대로 96길 26, 3층 (삼성동, Place 1)</p>
            <p class="copy">Copyright © Yanadoo. All rights reserved.</p>
        </address>
<!--        <ul class="sns-list">-->
<!--            <li><a href="https://blog.naver.com/youcandoo2020"><img src="https://service.yanadoocdn.com/youcandoo/assets/images/btn_blog.svg" alt="블로그 바로가기"></a></li>-->
<!--            <li><a href="https://www.youtube.com/channel/UCayl8uXsyHiAHNE19l_0Tbg"><img src="https://service.yanadoocdn.com/youcandoo/assets/images/btn_youtube.svg" alt="유튜브 바로가기"></a></li>-->
<!--            <li><a href="https://www.instagram.com/youcandoo.official/"><img src="https://service.yanadoocdn.com/youcandoo/assets/images/btn_instagram.svg" alt="인스타 바로가기"></a></li>-->
<!--            <li><a href="https://www.facebook.com/youcandoo2020/"><img src="https://service.yanadoocdn.com/youcandoo/assets/images/btn_facebook.svg" alt="페이스북 바로가기"></a></li>-->
<!--        </ul>-->
    </div>
</footer>
<script src="/assets/js/common.js?resource_version=<?=$resource_version?>"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161922496-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-161922496-1');
    gtag('config', 'AW-824253219');
</script>
</body>
</html>