@charset "UTF-8";

/* webview CSS RESET */
html,body{width:100%; height: 100%;font-family: "NanumSquareOTFRegular", sans-serif;letter-spacing:0;}
html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,abbr,address,cite,code,del,em,img,
ins,q,strong,sub,sup,b,i,dl,dt,dd,ol,ul,li,a,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,
menu,nav,section,summary,time,mark,audio,video{margin:0; padding:0;border:0;vertical-align:baseline;-webkit-text-size-adjust:none;/*세로모드에서 가로모드로 전환할때 텍스트가 약간 커지는 현상 방지*/}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block}
ul,ol,li,dl{list-style:none}
blockquote,q{quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none}
a,a:link,a:hover,a:active {text-decoration:none}
em,i,address{font-style:normal;font-weight:normal}
table{border-collapse:collapse; border-spacing:0}
img,fieldset{border:0}
img {width: 100%;height: auto;}
hr,legend,caption{display:none}
textarea{resize:none}
label,button,input[type="submit"],input[type="reset"]{cursor:pointer;}
button {padding: 0; border: none; background: none; outline: none; font-family: "NanumSquareOTFRegular", sans-serif;letter-spacing: -1px;}
a, button {cursor: pointer;}
a:link    {text-decoration:none}
a:visited {text-decoration:none}
a:hover   {text-decoration:none}
a:active  {text-decoration:none}
* {
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}
select {font-family: "NanumSquareOTFRegular", sans-serif;}
input, textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
input::placeholder, textarea::placeholder {
	font-family: "NanumSquareOTFRegular", sans-serif;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

/*font*/
@font-face {
	font-family: "NanumSquareOTFExtraBold";
	src: local(※), url("https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/font/NanumSquareOTFExtraBold.woff") format("woff");
	font-weight: 800;
}
@font-face {
	font-family: "NanumSquareOTFBold";
	src: local(※), url("https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/font/NanumSquareOTFBold.woff") format("woff");
	font-weight: 600;
}
@font-face {
	font-family: "NanumSquareOTFRegular";
	src: local(※), url("https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/font/NanumSquareOTFRegular.woff") format("woff");
	font-weight: 400;
}
@font-face {
	font-family: "NanumSquareOTFLight";
	src: local(※), url("https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/font/NanumSquareOTFLight.woff") format("woff");
	font-weight: 300;
}

@font-face {
	font-family: "HGGGothicssiPro20g";
	src: local(※), url("https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/font/HGGGothicssi_Pro_20g.woff") format("woff");
	font-weight: 200;
}
@font-face {
	font-family: "HGGGothicssiPro99g";
	src: local(※), url("https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/font/HGGGothicssi_Pro_99g.woff") format("woff");
	font-weight: 900;
}
