
	<section class="board-list company-info only-m">
        <div class="container">

            <div class="page-title-wrap only-pc">
                <h2>사업자 정보</h2>
            </div>

            <div class="page-wrap no-title">
                <ul>
                     <li>
                        <span class="board-tit">사업자 등록 번호</span>
                        <span class="board-data">129-86-23477</span>
                    </li>
                    <li>
                        <span class="board-tit">상호</span>
                        <span class="board-data">(주)야나두</span>
                    </li>
                    <li>
                        <span class="board-tit">대표자명</span>
                        <span class="board-data">김정수, 김민철</span>
                    </li>
                    <li>
                        <span class="board-tit">대표 전화 번호</span>
                        <span class="board-data">02-6925-0507</span>
                    </li>
                    <li>
                        <span class="board-tit">사업장 소재지</span>
                        <span class="board-data">서울시 강남구 영동대로 96길 26, 3층 (삼성동 Place1)</span>
                    </li>
                </ul>
            </div>

        </div>
    </section>
