
<section class="board-list event-list only-m">
	<div class="container">
		<div class="page-wrap no-title">
			<ol id="olTab" class="event-tab clearfix">
				<li class="on" data-status="progress">진행중</li>
				<li class="" data-status="announce">결과발표</li>
				<li class="" data-status="end">종료</li>
			</ol>
			<ul id="eventWrap" class="event-board clearfix">
				<!--
				&lt;!&ndash;기본&ndash;&gt;
				<li>
					<a href="event-detail.html">more</a>
					<div class="clearfix">
						<strong class="thumbnail" style="background-image: url(images/evt_ex_1.jpg)"></strong>
						<p>
							<span class="board-tit">유캔두 이용약관 변경 사전 안내 </span>
							<span class="date">2020.01.20~2020.01.30</span>
						</p>
					</div>
				</li>
				&lt;!&ndash; 발표 &ndash;&gt;
				<li>
					<a href="event-detail.html">more</a>
					<div class="clear_fix">
						<strong class="thumbnail" style="background-image: url(images/evt_ex_2.jpg)"></strong>
						<p>
							<span class="board-tit"><em class="evt-result-text only-m">[발표]</em>유캔두 이용약관 변경 사전 안내 </span>
							<span class="date">2020.01.20</span>
						</p>
					</div>
				</li>
				&lt;!&ndash; 종료 &ndash;&gt;
				<li>
					<a href="event-detail.html">more</a>
					<div class="clear_fix">
						<strong class="thumbnail" style="background-image: url(images/evt_ex_1.jpg)"></strong>
						<p>
							<span class="board-tit"><em class="evt-result-text only-m">[종료]</em>유캔두 이용약관 변경 사전 안내 </span>
							<span class="date">2020.01.20~2020.01.30</span>
						</p>
					</div>
				</li>

				<strong class="no-contants">지금 볼 수 있는 콘텐츠가 없네요. <span>다음번에 다시 찾아주세요!</span></strong>-->
			</ul>
		</div>
	</div>
</section>
<script defer src="/assets/js/webview/event-list.js?resource_version=<?=$resource_version?>"></script>
