<section class="board-detail inquiry-detail only-m">
	<div class="container">
		<div class="page-wrap no-title">
			<div class="view-wrap">
				<div class="title-wrap">
					<p>
						<span class="board-tit" id="title">
							<!--기프티콘은 언제 발송하나용???대체 휴우우dndndndn
							<img class="icon_clip" src="/assets/images/icon_clip.png" alt="첨부파일">-->
						</span>
						<span class="date" id="createDate"></span>
					</p>
					<button type="button" id="btnStatus"></button>
				</div>

				<div class="contents-wrap">
					<div class="text-wrap"  id="contents">
					<!--UCD가 대체 뭔가용? 궁그매궁그매<br>UCD가 대체 뭔가용? 궁그매궁그매-->

						<div class="file-view-text">
							<!--<img class="icon_clip" src="/assets/images/icon_clip.png" alt="첨부파일">
							<span>첨부파일 이미지 만료기간: ~ 11/30</span>
							<span class="error-color">첨부파일 기간 만료</span>-->
						</div>

						<ol class="file-view-img">
							<!--<li>
								<img src="https://youcandoo.yanadoocdn.com/doit/836a2aac7ec61f4db04549ee8b6c5df4/df986ddaedd8d6bd8404b86fa2f4119f.jpg" alt="">
							</li>
							<li>
								<img src="https://youcandoo.yanadoocdn.com/doit/836a2aac7ec61f4db04549ee8b6c5df4/df986ddaedd8d6bd8404b86fa2f4119f.jpg" alt="">
							</li>
							<li>
								<img src="https://youcandoo.yanadoocdn.com/doit/836a2aac7ec61f4db04549ee8b6c5df4/df986ddaedd8d6bd8404b86fa2f4119f.jpg" alt="">
							</li>-->
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="comment">
		<!--<div class="page-footer">
			<div class="container">
				<p>
					<span class="board-tit">
						유캔두 답변
					</span>
					<span class="date">2020-11-26</span>
				</p>
				<div class="text">
					gpgpgpgp헤헤헤헤헿헤헿
				</div>
			</div>
		</div>-->
	</div>
</section>
<input type="hidden" id="idx" value="<?php echo $idx; ?>">
<script defer src="/assets/js/webview/inquiry-detail.js?resource_version=<?=$resource_version?>"></script>
