
	<section class="board-list mypage-list only-m">
		<div class="container">
			<div class="page-wrap no-title">
				<ul>
					<li>
						<a href="/v1.0/web/notice">바로가기</a>
						공지사항<img src="https://service.yanadoocdn.com/youcandoo/assets/images/webviewimg/icon_right_gr.png?resource_version=<?=$resource_version?>" alt="아이콘">
					</li>
					<li>
						<a href="/v1.0/web/faq">바로가기</a>
						FAQ<img src="https://service.yanadoocdn.com/youcandoo/assets/images/webviewimg/icon_right_gr.png?resource_version=<?=$resource_version?>" alt="아이콘">
					</li>
					<li>
						<a href="/policy/app/terms/latest">바로가기</a>
						이용약관<img src="https://service.yanadoocdn.com/youcandoo/assets/images/webviewimg/icon_right_gr.png?resource_version=<?=$resource_version?>" alt="아이콘">
					</li>
					<li>
						<a href="/policy/app/privacy/latest">바로가기</a>
						개인정보처리방침<img src="https://service.yanadoocdn.com/youcandoo/assets/images/webviewimg/icon_right_gr.png?resource_version=<?=$resource_version?>" alt="아이콘">
					</li>
					<!--<li>
						<a href="/web/company">바로가기</a>
						사업자정보 확인<img src="https://service.yanadoocdn.com/youcandoo/assets/images/webviewimg/icon_right_gr.png?resource_version=<?=$resource_version?>" alt="아이콘">
					</li>-->
					<!--<li>
						<a href="/policy/device">바로가기</a>
						기기정보<img src="/assets/images/icon_right_gr.png" alt="아이콘">
					</li>-->
				</ul>
			</div>
		</div>
	</section>
