
<input type="hidden" id="idx" value="<?php echo $idx; ?>"/>
<section class="board-detail only-m">
	<div class="container">
		<div class="page-wrap no-title">
			<div class="view-wrap">

				<div class="title-wrap">
					<h3 class="board-tit" id="title"><!-- Title Section --></h3>
					<span class="date" id="datetime"><!-- Create Date Section --></span>
				</div>

				<div class="contents-wrap" id="contents">
					<!-- Image + Contents Section -->
				</div>
			</div>
		</div>
	</div>
</section>
<script defer src="/assets/js/webview/notice-detail.js?resource_version=<?=$resource_version?>"></script>
