<link rel="stylesheet" href="/assets/v3/css/app_level.css?resource_version=<?=$resource_version?>">
<section class="level">
	<header>
		<a id="btnBack">뒤로가기</a>
		<p>레벨 가이드</p>
	</header>
	<div class="page-wrap">

		<div class="user-level beginner">
			<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level1_beginner_main_img.svg" alt="비기너">
			<h3>
				<span class="user-nickname"></span>Lv.1 비기너
			</h3>
			<p>
				<strong>목표 달성</strong>을 위해 <strong>미션 인증</strong>을 꾸준히 해보세요.<br>
				다음 레벨부터 두잇을 만들 수 있어요.
			</p>
		</div>

		<div class="user-level rookie">
			<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level2_rookie_main_img.svg" alt="루키">
			<h3>
				<span class="user-nickname"></span>Lv.2 루키
			</h3>
			<p>
				축하해요! 이제 두잇을 <strong>2개</strong>나 만들 수 있어요.<br>
				최대 멤버 수도 <strong>100명</strong>으로 늘어났네요.
			</p>
		</div>

		<div class="user-level pro">
			<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level3_pro_main_img.svg" alt="프로">
			<h3>
				<span class="user-nickname"></span>Lv.3 프로
			</h3>
			<p>
				축하해요! 이제 두잇을 <strong>5개</strong>나 만들 수 있어요.<br>
				최대 멤버 수도 <strong>1,500명</strong>으로 늘어났네요.
			</p>
		</div>

		<div class="user-level master">
			<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level4_master_main_img_1.svg" alt="마스터">
			<h3>
				<span class="user-nickname"></span>Lv.4 마스터
			</h3>
			<p>
				축하해요! 이제 두잇을 <strong>5개</strong>나 만들 수 있어요.<br>
				최대 멤버 수도 <strong>1,500명</strong>으로 늘어났네요.
			</p>
		</div>

		<div class="user-level legend">
			<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level5_legend_main_img.svg" alt="레전드">
			<h3>
				<span class="user-nickname"></span>Lv.5 레전드
			</h3>
			<p>
				축하해요! 이제 두잇을 <strong>10개</strong>나 만들 수 있어요.<br>
				최대 멤버 수도 <strong>2,000명</strong>으로 늘어났네요.
			</p>
		</div>

		<div class="user-level partner">
			<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level0_partner_main_img.svg" alt="파트너">
			<h3>
				<span class="user-nickname"></span>Lv.파트너
			</h3>
			<p>
				축하해요! 이제 두잇을 <strong>5개</strong>나 만들 수 있어요.<br>
				최대 멤버 수도 <strong>2,000명</strong>으로 늘어났네요.
			</p>
		</div>

		<div class="user-level sponsor">
			<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level_sponsor_main_img.svg" alt="스폰서">
			<h3>
				<span class="user-nickname"></span>Lv.스폰서
			</h3>
			<p>
				축하해요! 이제 두잇을 <strong>10개</strong>나 만들 수 있어요.<br>
				최대 멤버 수도 <strong>100,000명</strong>으로 늘어났네요.
			</p>
		</div>

		<article>
			<div class="inner">
				<ul class="level-list">
					<li>
						<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level_1_beginner_list.svg" alt="비기너">
						<div class="info">
							<dl>
								<dt>개설 가능 두잇 수</dt>
								<dd>0</dd>
							</dl>
							<dl>
								<dt>두잇 최대 멤버 수</dt>
								<dd>0</dd>
							</dl>
							<dl>
								<dt>레벨업 보너스</dt>
								<dd class="bonus">0</dd>
							</dl>
						</div>
					</li>
					<li>
						<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level_2_rookie_list.svg" alt="루키">
						<div class="info">
							<dl>
								<dt>개설 가능 두잇 수</dt>
								<dd>2개</dd>
							</dl>
							<dl>
								<dt>두잇 최대 멤버 수</dt>
								<dd>100명</dd>
							</dl>
							<dl>
								<dt>레벨업 보너스</dt>
								<dd class="bonus">+3,000UCD</dd>
							</dl>
						</div>
					</li>
					<li>
						<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level_3_pro_list.svg" alt="프로">
						<div class="info">
							<dl>
								<dt>개설 가능 두잇 수</dt>
								<dd>5개</dd>
							</dl>
							<dl>
								<dt>두잇 최대 멤버 수</dt>
								<dd>1,500명</dd>
							</dl>
							<dl>
								<dt>레벨업 보너스</dt>
								<dd class="bonus">+10,000UCD</dd>
							</dl>
						</div>
					</li>
					<li>
						<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level_4_master_list.svg" alt="마스터">
						<div class="info">
							<dl>
								<dt>개설 가능 두잇 수</dt>
								<dd>5개</dd>
							</dl>
							<dl>
								<dt>두잇 최대 멤버 수</dt>
								<dd>1,500명</dd>
							</dl>
							<dl>
								<dt>레벨업 보너스</dt>
								<dd class="bonus">+30,000UCD</dd>
							</dl>
						</div>
					</li>
					<li>
						<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level_5_legend_list.svg" alt="레전드">
						<div class="info">
							<dl>
								<dt>개설 가능 두잇 수</dt>
								<dd>10개</dd>
							</dl>
							<dl>
								<dt>두잇 최대 멤버 수</dt>
								<dd>2,000명</dd>
							</dl>
							<dl>
								<dt>레벨업 보너스</dt>
								<dd class="bonus">+100,000UCD</dd>
							</dl>
						</div>
					</li>
				</ul>
			</div>
		</article>


		<div class="bottom-manual">
			<div class="inner">
				<h5><i><img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/tip_icon.svg" alt=""></i>확인해주세요</h5>
				<ul>
					<li><i>-</i>연속 인증수가 높을수록 레벨이 높아져요.<br>단, 하루에 유사한 인증을 여러 개 올릴 경우에는 레벨 심사 과정에서 탈락할 수도 있어요.</li>
					<li><i>-</i>내가 직접 올린 인증은 물론, 내가 만든 두잇에서 멤버들이 올린 인증도 레벨 경험치에 포함되어요.<br>빠르게 레벨을 올리고 싶다고 리더십을 발휘해 더 많은 사람들의 인증을 이끌어보세요!</li>
					<li><i>-</i>유캔두 레벨은 매주 월요일 일괄적으로 올라가요.<br>레벨에 따라 만들 수 있는 두잇 수와 두잇 별 최대 정원이 결정돼요.</li>
					<li><i>-</i>레벨업 보너스는 최초 레벨 업 시 1번만 지급되는 특별 UCD예요.</li>
					<li><i>-</i>유캔두 레벨 기준은 정책에 의해 변경될 수 있어요.</li>
				</ul>
			</div>
		</div>

	</div>
</section>
<script>
	const searchParams = new URLSearchParams(window.location.search);
	const queryNickname = searchParams.has('nickname') ? searchParams.get('nickname') : '';
	const queryLevel = searchParams.has('level') ? searchParams.get('level') : 999;

	document.getElementById('btnBack').addEventListener('click', webviewClose);

	if (isEmpty(queryNickname) || isEmpty(queryLevel))
		alert(message.noLevelInfo);

	document.querySelectorAll('.user-level').forEach((element) => {
		element.classList.contains(getLevelName(queryLevel)) ? element.classList.add('active') : element.classList.remove('active')
	});
	document.querySelectorAll('.user-nickname').forEach((element) => element.textContent = queryNickname);

	function getLevelName(level)
	{
		switch (Number(level)) {
			case 1 : return 'beginner'
			case 2 : return 'rookie'
			case 3 : return 'pro'
			case 4 : return 'master'
			case 5 : return 'legend'
			case 6 : return 'partner'
			case 7 : return 'sponsor'
			default : return 'beginner'
		}
	}
</script>
