<link rel="stylesheet" href="/assets/v3/css/app_story.css?resource_version=<?=$resource_version?>">
<section class="story emoticon">
	<header class="fade">
		<a id="btnBack">뒤로가기</a>
		<p>유캔두 스토리. 04</p>
	</header>
	<div class="page-wrap">
		<div class="top">
			<div class="inner">
				<h3>
					<span>STORY. 04</span>
					말랑말랑한 소통,<br>유캔두 이모티콘 스토리<br>그리고 나두나두
				</h3>
			</div>
		</div>
		<article>
			<div class="content align-img-right">
				<div class="paragraph">
					<div class="inner">
						<h4>
							소통의 힘, 커뮤니티와<br>그 안의 작지만 큰 가능성
						</h4>
					</div>
					<div class="img"><img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/brandstory_4_img1.png" alt=""></div>
					<div class="inner">
						같은 말이라도 어떻게 표현하는가에 따라 수많은 감정을 표현할 수 있죠. ‘감사합니다’라는 말이 어떤 음의 높낮이와 길이를 갖느냐에 따라 느낌이 달라지는 것처럼 말이에요. 커뮤니티에서 주고받는 인사와 응원, 글로는 다 표현되지 않는 반가움과 기쁨, 아쉬움.. 등 텍스트 너머의 수많은 감정을 담아내고 싶었습니다. 우리는 자연스레, 이모티콘의 필요성에 대해 이야기하게 되었어요.
					</div>
				</div>
				<div class="paragraph">
					<div class="inner">
						<h4>
							내 속엔 내가<br>너무나도 많아
						</h4>
					</div>
					<div class="img"><img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/brandstory_4_img2.svg" alt=""></div>
					<div class="inner">
						다음 중 자신에게 해당된다고 생각하는 성격을 골라보세요.<br><br>- 생각과 고민이 많은 나<br>- 인생 한 번, 하고 싶은 대로 살고 싶은 나<br>- 혼자 조용히 시간을 보내고 싶은 나<br>- 주변에 마음에 안드는 것 투성이인 예민한 나<br>- 아무 생각 없는 나<br>- 그럴 수 있지 하며 모든 일에 초연한 나<br><br>‘전부 다 나인데?’라고 생각하신 분이 있으세요? 맞아요. 사람은 여러 가지 다양한 면을 가지고 있기에 어떠한 하나의 성격으로 단정하기 어렵죠. 마치 내일부터 꼭 운동을 하겠다고 마음 먹은 나와 다음 날, 이불 속에서 나오고 싶지 않은 내가 공존 하는 것처럼요. 유캔두를 누구보다 열심히 하고 계시는 여러분이라면 내 안의 수 많은 나를 누구보다 공감하시겠죠? :)
					</div>
				</div>
				<div class="paragraph">
					<div class="inner">
						<h4>
							반가워요 여러분!<br>처음 인사드려요, 나두나두
						</h4>
					</div>
					<div class="img"><img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/brandstory_4_img3.png" alt=""></div>
					<div class="inner">
						나두나두는 그러한 우리의 다양한 모습을 담아낸 캐릭터예요. 두잇생활을 열심히 하셨던 분이라면 혹시 낯이 익는 친구가 하나 있지 않으세요? 유캔두 앱 내 곳곳에서 여러분의 도전을 부드럽게 안내하는 구름, <strong>랄라</strong>라는 친구입니다. 둥실둥실 포근포근~ 느긋하고 친절하고, 언제든 응원의 말을 건네주어 여러분을 유캔두의 세계로 친절히 안내하기에 딱 맞는 파트너지요!<br><br>
						랄라 외에도 근심 많은 토끼 <strong>안나</strong>, 인생 한 번, 즐기고 사는 여우 <strong>제이크</strong>, 혼자 조용히 고독을 즐기는 먹구름 <strong>콩</strong>, 쫑알쫑알 잔소리꾼 병아리 <strong>안드레 쥬니어</strong>, 아무 생각 없는 공룡 <strong>올리브</strong>까지. 여섯친구가 여러분의 두잇생활을 복작복작 재밌게 만들어갈 준비가 되어있어요.
					</div>

					<div class="img"><img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/brandstory_4_img4.png" alt=""></div>
					<div class="inner">
						커뮤니티 게시글의 댓글 쓰기 버튼에 반가운 스마일 표시를 눌러보세요. 이모티콘으로 더 많은 감정을 표현하고 즐거운 두잇 생활 함께 해요.<br><br>
						<strong>더 나아질 유캔두와 곳곳에서 여러분과 함께할 나두나두의 활약을 기대해 주세요!</strong>
					</div>

				</div>

			</div>
			<p class="instagram-btn_wrap">
				나두나두의 더 많은 이야기가 궁금하시다면
				<button id="btnInstagram">@nadoo_nadoo_official</button>
			</p>
			<div class="copy-wrap">
				<span class="copy">by. 유캔두</span>
			</div>
			<div class="bottom-wrap">
				<div class="inner">
					<h3>다른 스토리 보러가기</h3>
					<div class="btn philosophy">
						<a href="/webview/v3.0/story/philosophy">브랜드스토리 - 철학</a>
						<div class="text-wrap">
							<span>STORY. 01</span>
							<p>왜 마음먹은 대로 잘 안될까요?<br>목표 달성의 비밀</p>
						</div>
					</div>
					<div class="btn member">
						<a href="/webview/v3.0/story/member">브랜드스토리 - 멤버</a>
						<div class="text-wrap">
							<span>STORY. 02</span>
							<p>함께하면 달성할 수 있는 이유!<br>두잇으로 시작하세요.</p>
						</div>
					</div>
				</div>
			</div>
		</article>

	</div>
</section>
<script defer src="/assets/v3/js/fade_header.js?resource_version=<?=$resource_version?>"></script>
<script>
	
	document.querySelector("#btnInstagram").addEventListener('click', onClickBtnInstagram);

	function onClickBtnInstagram()
	{
		const url = "https://bit.ly/nadoo_youcandoo";
		if (isAos())
		{
			try {
				const aosParams = JSON.stringify({
					"pageType" : "browser",
					"pageValue" : {
						"url" : url
					}
				});
				window.webview.webviewonclick(aosParams)
			} catch (e) {
				console.log(e)
			}
		}
		else if (isIos())
		{
			try {
				const iosParams = JSON.stringify({
					"action" : {
						"pageType" : "browser",
						"pageValue" : {
							"url" : url
						}
					}
				});
				const message = "jscall://"+encodeURIComponent(iosParams);
				let iframe = document.createElement('iframe');
				iframe.setAttribute('src', message);
				document.documentElement.appendChild(iframe);
				iframe.parentNode.removeChild(iframe); iframe = null;
			} catch (e) {
				console.log(e)
			}
		}
	}
</script>
