<link rel="stylesheet" href="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/css/swiper.min.css">
<link rel="stylesheet" href="/assets/v3/css/app_ycd_guide_v2.css">
<section id="section" class="doit-guide">
	<header>
		<a id="btnBack">뒤로가기</a>
		<p>유캔두 사용 가이드</p>
	</header>
	<div class="page-wrap">

		<article class="page-start">
			<div class="flex-container">
				<img class="top-img" src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_start_img.svg" alt="">
				<h5><strong class="point-text">꾸준한 성장 습관!</strong><br>그 시작을 축하합니다</h5>
				<p>
					<em>원하는 목표나 계획이 있나요?</em>
					유캔두와 하루 10분으로<br>목표에 swiper-container-nav한 걸음 가까워지는 방법!<br>지금부터 알려드릴게요.
				</p>
				<button type="button" class="btn-start" id="btnStart">
					<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_btn_start_1.svg" alt="성장습관시작하기">
				</button>
			</div>
		</article>

		<article class="page-guide">
			<!-- s: 슬라이드 탭 -->
			<nav>
				<div class="swiper-container-nav">
					<ul class="swiper-wrapper tabs">
						<li class="swiper-slide active"><a href="#">두잇찾기</a></li>
						<li class="swiper-slide"><a href="#">인증</a></li>
						<li class="swiper-slide"><a href="#">커뮤니티</a></li>
						<li class="swiper-slide"><a href="#">랭킹</a></li>
						<li class="swiper-slide"><a href="#">뱃지</a></li>
						<li class="swiper-slide"><a href="#">UCD</a></li>
						<li class="swiper-slide"><a href="#">리더</a></li>
					</ul>
				</div>
			</nav>
			<!-- e: 슬라이드 탭 -->

			<!-- s: 슬라이드 페이지 -->
			<div class="swiper-container-page">
				<div class="swiper-wrapper">

					<!-- s: 01 두잇찾기 -->
					<div class="swiper-slide">
						<div class="title-wrap">
							<span class="title-num">Step 01. 두잇찾기</span>
							<h5>변화할 내 모습과<br><strong>닮은 목표를 찾아봐요!</strong></h5>
						</div>
						<!-- s: 스와이프 : 이미지 슬라이드 -->
						<div class="contents-box">
							<div class="img-wrap">
								<!-- Swiper -->
								<div class="swiper-container-img img-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont01_1_svg.svg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont01_2_svg.svg" alt="">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont01_2_img.png" alt="">
										</div>
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont01_3_svg.svg" alt="">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont01_3_img.png" alt="">
										</div>
									</div>
								</div>
								<!-- 페이징 -->
								<div class="swiper-pagination"></div>
							</div>
						</div>
						<!-- e: 스와이프 : 이미지 슬라이드 -->

						<p>두잇은 목표로 향하는<br>나의 꾸준한 습관이<br>만들어지는 공간이에요.<br><span class="point-text">내 목표와 같은 두잇을 찾아보세요.</span></p>
						<h5>이제 <strong>두잇을 가입</strong>해볼까요?<br>목표에 한발짝 가까워졌어요!</h5>

						<!-- s: 하단 이미지 -->
						<div class="contents-box">
							<div class="img-wrap">
								<div class="img-container">
									<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont01_4_svg.svg" alt="">
									<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont01_4_img.png" alt="">
								</div>
							</div>
						</div>
						<!-- e: 하단 이미지 -->

					</div>

					<!-- s: 02 인증 -->
					<div class="swiper-slide">
						<div class="title-wrap">
							<span class="title-num">Step 02. 인증</span>
							<h5>변화하는 내 모습을<br><strong>인증으로 기록</strong>해요.</h5>
						</div>
						<!-- s: 스와이프 : 이미지 슬라이드 -->
						<div class="contents-box">
							<div class="img-wrap">
								<!-- Swiper -->
								<div class="swiper-container-img img-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont02_1_svg.svg" alt="">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont02_1_img.png" alt="">
										</div>
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont02_2_svg.svg" alt="">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont02_2_img.png" alt="">
										</div>
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont02_3_svg.svg" alt="">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont02_3_img.png" alt="">
										</div>
									</div>
								</div>
								<!-- 페이징 -->
								<div class="swiper-pagination"></div>
							</div>
						</div>
						<!-- e: 스와이프 : 이미지 슬라이드 -->

						 <p>작심삼일도 하지 못했던 나,<br>21일 이상 매일 꾸준히 해내는<br>새로운 나를 발견할 수 있어요.</p>
						<h5>공유는 다 좋은거니까<br><strong>친구랑 같이</strong>해도 좋아요.</h5>

						<!-- s: 하단 이미지 -->
						<div class="contents-box">
							<div class="img-wrap">
								<div class="img-container">
									<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont02_4_img.png" alt="">
									<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont02_4_svg.svg" alt="">
								</div>
							</div>
						</div>
						<!-- e: 하단 이미지 -->
					</div>

					<!-- s: 03 커뮤니티 -->
					<div class="swiper-slide">
						<div class="title-wrap">
							<span class="title-num">Step 03. 커뮤니티</span>
							<h5>함께니까, 더 오래 더 멀리<br><strong>꾸준히 성장</strong>할 수 있어요.</h5>
						</div>

						<!-- s: 이미지 -->
						<div class="contents-box">
							<div class="img-wrap">
								<div class="img-container">
									<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont03_1_svg.svg" alt="">
									<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont03_1_img.png" alt="">
								</div>
							</div>
						</div>
						<!-- e: 이미지 -->

						<p>
							혼자선 불가능한 일을<br>함께일 때 가능하게 만들어요.<br><br>
							리더와 멤버들이<br>나의 페이스메이커가 되어주니까<br><span class="point-text">더 오래, 더 멀리 성장할 수 있어요.</span><br><br>
							달라진 모습도<br>같이 공유하면서 말이죠.
						</p>
					</div>

					<!-- s: 04 랭킹 -->
					<div class="swiper-slide">
						<div class="title-wrap">
							<span class="title-num">Step 04. 랭킹</span>
							<h5><strong>다함께 랭킹 도전</strong>으로<br>습관이 즐거워져요!</h5>
						</div>

						<!-- s: 스와이프 : 이미지 슬라이드 -->
						<div class="contents-box">
							<div class="img-wrap">
								<!-- Swiper -->
								<div class="swiper-container-img img-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont04_1_svg.svg" alt="">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont04_1_img.png" alt="">
										</div>
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont04_2_svg.svg" alt="">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont04_2_img.png" alt="">
										</div>
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont04_3_svg.svg" alt="">
										</div>
									</div>
								</div>
								<!-- 페이징 -->
								<div class="swiper-pagination"></div>
							</div>
						</div>
						<!-- e: 스와이프 : 이미지 슬라이드 -->

						<p>
							멤버들과 매일 꾸준히 인증하고<br>커뮤니티에서 즐거움을 나눌수록<br>우리 두잇의 <strong class="bold_text">열정 지수*</strong>가 올라가요!
							<span class="small-text">*열정지수 : 두잇 멤버들의 활동을 나타내는 지표</span>
							멤버들의 열정지수에 따라<br>매주 달라지는 랭킹으로<br>함께하는 도전이 재밌어져요!
						</p>
					</div>

					<!-- s: 05 뱃지 -->
					<div class="swiper-slide">
						<div class="title-wrap">
							<span class="title-num">Step 05. 뱃지</span>
							<h5>나의 성장이 눈에 보이는<br><strong>도파민 자극하는 뱃지!</strong></h5>
						</div>

						<!-- s: 스와이프 : 이미지 슬라이드 -->
						<div class="contents-box">
							<div class="img-wrap">
								<!-- Swiper -->
								<div class="swiper-container-img img-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont05_1_svg.svg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont05_2_svg.svg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont05_3_svg.svg" alt="">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont05_3_img.png" alt="">
										</div>
									</div>
								</div>
								<!-- 페이징 -->
								<div class="swiper-pagination"></div>
							</div>
						</div>
						<!-- e: 스와이프 : 이미지 슬라이드 -->

						<p>
							3일, 7일, 14일, 21일…<br>나의 성장이 그대로 담겨 있는<br><span class="point-text">뱃지가 도전을 더욱 자극해요!</span><br><br>
							해낼수록 더 새롭고 다양한<br>멋진 뱃지가 주어지죠.<br>하나씩 퀘스트를 깨듯 모아보세요.<br><br>
							다음엔 또 어떤 모양의<br>뱃지를 얻게 될까요?
						</p>
					</div>

					<!-- s: 06 ucd -->
					<div class="swiper-slide">
						<div class="title-wrap">
							<span class="title-num">Step 06. UCD</span>
							<h5><strong>꾸준히 해온 나!</strong><br>UCD는 얼만큼 쌓였을까요?</h5>
						</div>

						<!-- s: 스와이프 : 이미지 슬라이드 -->
						<div class="contents-box">
							<div class="img-wrap">
								<!-- Swiper -->
								<div class="swiper-container-img img-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont06_1_svg.svg" alt="">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont06_1_img.png" alt="">
										</div>
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont06_2_svg.svg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont06_3_svg.svg" alt="">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont06_3_img.png" alt="">
										</div>
									</div>
								</div>
								<!-- 페이징 -->
								<div class="swiper-pagination"></div>
							</div>
						</div>
						<!-- e: 스와이프 : 이미지 슬라이드 -->

						<p>
							UCD는 유캔두만의 특별한 리워드예요.<br>꾸준히 목표를 달성하며 열심히<br>소통하는 두잇일수록 UCD 지갑이 두둑히 쌓여요!<br><br>
							여러분이 모은 소중한 UCD는 기프티콘, 상품권 등<br><span class="point-text">다양한 상품으로 교환하실 수 있어요.</span><br>여러분의 목표 달성에 유캔두가<br>든든한 지원군이 되어드릴게요!
						</p>
					</div>

					<!-- s: 07 리더 -->
					<div class="swiper-slide">
						<div class="title-wrap">
							<span class="title-num">Step 07. 리더</span>
							<h5>어느새 성장한 나,<br> 이제 <strong>리더가 될 자격</strong>이 충분해요!</h5>
						</div>

						<!-- s: 스와이프 : 이미지 슬라이드 -->
						<div class="contents-box">
							<div class="img-wrap">
								<!-- Swiper -->
								<div class="swiper-container-img img-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont07_1_svg.svg" alt="">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont07_1_img.png" alt="">
										</div>
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont07_2_svg.svg" alt="">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont07_2_img.png" alt="">
										</div>
										<div class="swiper-slide">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont07_3_svg.svg" alt="">
											<img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_cont07_3_img.png" alt="">
										</div>
									</div>
								</div>
								<!-- 페이징 -->
								<div class="swiper-pagination"></div>
							</div>
						</div>
						<!-- e: 스와이프 : 이미지 슬라이드 -->

						<p>
							꾸준한 인증으로 레벨업이 되면<br>두잇을 만들 수 있어요.<br>나의 다음 목표를 위해,<br>그리고 나의 변화를 따라올<br>새로운 멤버들과 또다른 도전을<br>시작할 차례에요!<br><br>
							새로운 멤버들이 꾸준한 실천으로<br>성장과 변화를 할 수 있도록,<br>유캔두의 좋은 리더가 되어주세요!
						</p>
					</div>

				</div>
			</div>
		</article>

		<article class="page-end">
			<div class="flex-container">
				<img class="top-img" src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_end_img.svg" alt="">
				<h5>짝짝짝!<br>나의 성장과 변화가<br>그려진다면,<br><br>이제부터 <strong class="point-text">습관 만렙</strong>에<br>도전해볼까요?<br><br></h5>
				<button type="button" id="btnClose"><img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/gui_btn_end.svg" alt="변화시작하기"></button>
			</div>
		</article>
	</div>
</section>
<script src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/js/swiper.min.js"></script>
<script>
	initSwipeImage();
	document.getElementById('btnBack').addEventListener('click', webviewClose);
	document.getElementById('btnClose').addEventListener('click', webviewClose);
	document.getElementById('btnStart').addEventListener("click", onClickBtnStart);
	document.querySelectorAll(".tabs > li > a").forEach(element => element.addEventListener('click', function () { onClickTab(this) }));
	/*window.addEventListener('scroll', function () {scrollBottomSlide();});*/

	function onClickBtnStart()
	{
		document.querySelector(".page-start").style.display = "none";
		document.querySelector(".page-guide").classList.add('active');
	}

	function onClickTab(obj)
	{
		document.querySelectorAll(".tabs > li").forEach((element, index) => {
			if (obj.parentElement === element)
			{
				element.classList.add('active');
				swiper_tab.slideTo(index - 0.5, 300);
				swiper_page.slideTo(index, 300);
			}
			else
				element.classList.remove('active');
		});
	}

	// guide - tab
	const swiper_tab = new Swiper('.swiper-container-nav', {
		slidesPerView: 3.5,
		freeMode: true,
		watchSlidesProgress: true,
		observer: true,
		observeParents: true,
	});

	// guide - slide
	let moveRange = 100
	const guideSlideLength = document.querySelectorAll('.swiper-container-page > .swiper-wrapper > .swiper-slide').length;
	const swiper_page = new Swiper('.swiper-container-page', {
		slidesPerView: 1,
		autoHeight: true,
		observer: true,
		observeParents: true,
		on: {
			slideChange : function() {
				document.querySelectorAll(".tabs > li").forEach((element, index) => {
					index === this.realIndex
						? element.classList.add('active')
						: element.classList.remove('active');
				})
				swiper_tab.slideTo(this.realIndex - 0.5, 300);
				document.documentElement.scrollTop = 0;
			},
			touchEnd : function() {
				if( guideSlideLength === (this.realIndex + 1) && this.touches.startX - this.touches.currentX > moveRange) {
					document.querySelector(".page-guide").style.display = "none";
					document.querySelector(".page-end").classList.add('active');
				}
			}
		}
	});

	// scrollBottom -> next Slide
	/*function scrollBottomSlide() {
		const scrollTop = window.scrollY;
		const section =  document.getElementById('section');
		const sectionHeight = section.clientHeight;
		const windowHeight = window.innerHeight;
		const scrollBottom = scrollTop + windowHeight;
		let activeIdx = swiper_page.realIndex;

		setTimeout(function() {
			if(scrollBottom === sectionHeight)
			{
				swiper_page.slideTo(activeIdx + 1);
				if(guideSlideLength === activeIdx + 1)
				{
					document.querySelector(".page-guide").style.display = "none";
					document.querySelector(".page-end").classList.add('active');
				}
			}
		}, 1000);

	}*/

	function initSwipeImage()
	{
		document.querySelectorAll('.swiper-container-img').forEach(element => {
			new Swiper(element, {
				slidesPerView: 1,
				effect: "fade",
				centeredSlides: true,
				slidesPerGroup: 1,
				grabCursor: true,
				autoplay: {
					delay: 1800,
					disableOnInteraction: false,
				},
				pagination : { // 페이징 설정
					el : element.nextElementSibling,
					clickable : true,
				},
				loop: true,
				observer: true,
				observeParents: true,
			});
		})
	}
</script>
